# Dependency directories
node_modules/

# Next.js build output
.next/

# Production build output
out/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# MacOS files
.DS_Store

# VSCode files
.vscode/

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
